/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb); /* Light blue gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Added padding for better spacing */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.brand-logo {
  font-size: 40px;
  color: #9c27b0;
  margin-bottom: 20px;
}

h2 {
  color: #6c757d;
  font-size: 24px;
  margin-bottom: 20px;
}

.textbox {
  margin-bottom: 20px;
}

.textbox input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #f7f7f7;
}

.password-container {
  position: relative;
}

.password-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: #9c27b0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #7b1fa2;
}

/* Error message styling */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  display: none; /* Initially hidden */
}
